.body {
    font-family: 'Roboto', sans-serif;
    }
* {
    box-sizing: border-box;
    color: black;
  }
  h1 {
    color: blueviolet;
  }
  h3 {
    color: brown;
  }
  a {
    color: blue;
  }
  .contacts {
    margin-bottom: 2em;
  }
  .contact-value {
    display: flex;
   &__type {
    min-width: 90px;
    }
  }
    

  .body {
    min-height: 100vh;
  }
  .body {
    margin: 0; padding: 0;
  }
  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  html {
    scroll-behavior: smooth; 
  }